doctype html
html
    head
        meta(charset="utf-8")
        title PIXI Getting started
        meta(name="description" content="")
        meta(name="author" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")

body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
    script(src="index.js")
